<!-- Navbar -->
<header class="navbar">

    <!-- Navbar Header -->
    <div class="navbar-header">

        <!-- Site Logo -->
        <a href="index.html" class="site-logo visible-desktop">
            <span>[Baraem Cake]</span>
        </a><!-- site-logo.visible-desktop -->
        <a href="/" class="site-logo visible-mobile">
            <span>[</span> Baraem Cake<span>]</span>
        </a><!-- site-logo.visible-mobile -->

        <!-- Mobile Menu Toggle -->
        <a href="#" class="mobile-menu-toggle"><i class="material-icons menu"></i></a>
    </div><!-- .navbar-header -->

    <!-- Mobile Menu Wrapper -->
    <div class="mobile-menu-wrapper">

        <!-- Toolbar -->
        <div class="toolbar">
            <a href="/account"><i class="material-icons person"></i></a>
            <div class="cart-btn">
                <a href="/cart">
                    <i>
                        <span class="material-icons shopping_basket"></span>
                        <span id="number-in-cart" class="count">2</span>
                    </i>
                </a>
            </div><!-- .cart-btn -->
            <a href="#" class="subscribe-btn"><i class="material-icons mail_outline"></i></a>
        </div><!-- .toolbar -->

        <!-- Main Navigation -->
        <nav class="main-navigation">
            <ul class="menu">
                <li class="menu-item-has-children">
                    <a href="/">홈</a>
                </li>
                <li class="menu-item-has-children">
                    <a href="/shop">구매하기</a>
                </li>
                <li><a href="/blog">블로그</a></li>
                <li class="menu-item-has-children">
                    <a href="/gallery">갤러리</a>
                </li>
                <li><a href="/about">소개</a></li>
                <li><a href="/contacts">연락처</a></li>
                <li><a href="/faq">자주하는 질문</a></li>
            </ul><!-- .menu -->
        </nav><!-- .main-navigation -->
    </div><!-- .mobile-menu-wrapper -->
</header><!-- .navbar -->