<!-- Navbar -->
<header class="navbar">

    <!-- Navbar Header -->
    <div class="navbar-header">

        <!-- Site Logo -->
        <a href="index.html" class="site-logo visible-desktop">
            <span>[</span> M
            <span class="text-gray">/</span>
            STORE <span>]</span>
        </a><!-- site-logo.visible-desktop -->
        <a href="index.html" class="site-logo visible-mobile">
            <span>[</span> M <span>]</span>
        </a><!-- site-logo.visible-mobile -->

        <!-- Language Switcher -->
        <div class="lang-switcher">
            <div class="lang-toggle">
                <img src="/img/flags/GB.png" alt="English">
                <i class="material-icons arrow_drop_down"></i>
                <ul class="lang-dropdown">
                    <li><a href="#"><img src="/img/flags/FR.png" alt="French">FR</a></li>
                    <li><a href="#"><img src="/img/flags/DE.png" alt="German">DE</a></li>
                    <li><a href="#"><img src="/img/flags/IT.png" alt="Italian">IT</a></li>
                </ul>
            </div>
        </div><!-- .lang-switcher -->

        <!-- Mobile Menu Toggle -->
        <a href="#" class="mobile-menu-toggle"><i class="material-icons menu"></i></a>
    </div><!-- .navbar-header -->

    <!-- Mobile Menu Wrapper -->
    <div class="mobile-menu-wrapper">

        <!-- Toolbar -->
        <div class="toolbar">
            <a href="account.html"><i class="material-icons person"></i></a>
            <div class="cart-btn">
                <a href="shopping-cart.html">
                    <i>
                        <span class="material-icons shopping_basket"></span>
                        <span class="count">2</span>
                    </i>
                </a>
            </div><!-- .cart-btn -->
            <a href="#" class="subscribe-btn"><i class="material-icons mail_outline"></i></a>
        </div><!-- .toolbar -->

        <!-- Main Navigation -->
        <nav class="main-navigation">
            <ul class="menu">
                <li class="menu-item-has-children current-menu-item">
                    <a href="/">Home</a>
                </li>
                <li class="menu-item-has-children">
                    <a href="/shop">Shop</a>
                </li>
                <li><a href="/blog">Blog</a></li>
                <li class="menu-item-has-children">
                    <a href="/gallery">Gallery</a>
                </li>
                <li><a href="/about">About</a></li>
                <li><a href="/contacts">Contacts</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/elements">Elements</a></li>
            </ul><!-- .menu -->
        </nav><!-- .main-navigation -->
    </div><!-- .mobile-menu-wrapper -->
</header><!-- .navbar -->