<html>
<head>
    <title>Test</title>

    <!--SEO Meta Tags-->
    <meta name="description" content="M-Store - Modern E-Commerce Template"/>
    <meta name="keywords"
          content="shop, e-commerce, modern, minimalist style, responsive, online store, business, mobile, blog, bootstrap, html5, css3, jquery, js, gallery, slider, touch, creative, clean"/>
    <meta name="author" content="Rokaux"/>

    <!--Mobile Specific Meta Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!--Favicon-->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Google Material Icons -->
    <link href="/vendor/mstoretheme/css/vendor/material-icons.min.css" rel="stylesheet" media="screen">

    <!-- Brand Icons -->
    <link href="/vendor/mstoretheme/css/vendor/socicon.min.css" rel="stylesheet" media="screen">

    <!-- Bootstrap -->
    <link href="/vendor/mstoretheme/css/vendor/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- Theme Styles -->
    <link href="/vendor/mstoretheme/css/theme.min.css" rel="stylesheet" media="screen">

    <!-- Page Preloading -->
    <script src="/vendor/mstoretheme/js/vendor/page-preloading.js"></script>

    <!-- Modernizr -->
    <script src="/vendor/mstoretheme/js/vendor/modernizr.custom.js"></script>

    {{#each css}}
        <script src="{{this}}" rel="stylesheet" media="screen"></script>
    {{/each}}
</head>
<body class="page-preloading">
    <!-- Page Pre-Loader -->
    <div class="page-preloader">
        <div class="preloader">
            <img src="/img/preloader.gif" alt="Preloader">
        </div>
    </div><!-- .page-preloader -->
    <div class="page-wrapper">
        {{>navbar}}
        {{{body}}}
    </div>

    <script src="/vendor/mstoretheme/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="/vendor/mstoretheme/js/vendor/bootstrap.min.js"></script>
    <script src="/vendor/mstoretheme/js/vendor/smoothscroll.js"></script>
    <script src="/vendor/mstoretheme/js/vendor/velocity.min.js"></script>
    <script src="/vendor/mstoretheme/js/vendor/waves.min.js"></script>
    <script src="/vendor/mstoretheme/js/vendor/icheck.min.js"></script>
    <script src="/vendor/mstoretheme/js/vendor/owl.carousel.min.js"></script>
    <script src="/vendor/mstoretheme/js/vendor/magnific-popup.min.js"></script>
    <script src="/vendor/mstoretheme/js/vendor/nouislider.min.js"></script>
    <script src="/vendor/mstoretheme/js/scripts.js"></script>
    <script src="/vendor/jquery-validation-1.17.0/dist/jquery.validate.min.js"></script>
    <script src="/vendor/jquery-validation-1.17.0/dist/additional-methods.min.js"></script>
    {{#each js}}
        <script src="{{this}}"></script>
    {{/each}}
</body>
</html>