<main class="content-wrapper">
<div class="row">
    <div class="col-sm-12">
        <h1>Your Email has been verified</h1>
        <p>Click <a href="/shop">this</a> link to enter the website </p>
    </div>
</div>
</main>