<!-- Featured Image -->
<div class="featured-image" style="background-image: url(/img/featured-image/faq.jpg);"></div>

<!-- Content -->
<section class="container padding-top-3x padding-bottom-3x">
    <h1>User Account</h1>
    <div class="row padding-top">
        <div class="col-md-4 padding-bottom">
            <h3>Login</h3>
            <form id="login-form" method="post" class="login-form" action="/login">
                <input name="username" type="email" class="form-control" placeholder="Email" required>
                <input name="password" type="password" class="form-control" placeholder="Password" required>
                <div class="form-footer">
                    <div class="rememberme">
                        <label class="checkbox">
                            <input type="checkbox" checked> Remember me
                        </label>
                    </div>
                    <div class="form-submit">
                        <button id="login-submit-btn" type="submit"
                                class="btn btn-primary btn-block waves-effect waves-light">Login
                        </button>
                    </div>
                </div>
            </form><!-- .login-form -->
        </div><!-- .col-md-4 -->
        <div class="col-md-4">
            <h3>Register</h3>
            <div class="inner">
                <form id="register-form" method="post" class="login-form" action="/login/new"
                      enctype="multipart/form-data">
                    <input name="firstName" id="first-name" type="text" class="form-control" placeholder="First Name">
                    <input name="lastName" id="last-name" type="text" class="form-control" placeholder="Last Name">
                    <input name="email" id="register-email" type="email" class="form-control" placeholder="E-mail"
                           required>
                    <input name="password" id="register-password" type="password" class="form-control"
                           placeholder="Password"
                           required>
                    <input name="repeat_password" id="repeat_password" type="password" class="form-control"
                           placeholder="Repeat password" required>
                    <div class="form-footer">
                        <div class="rememberme"></div>
                        <div class="form-submit">
                            <button id="signup-submit-btn" type="submit"
                                    class="btn btn-primary btn-block waves-effect waves-light">Sign up
                            </button>
                        </div>
                    </div>
                </form><!-- .login-form -->
            </div><!-- .inner -->
        </div><!-- .col-md-4 -->
        <div class="col-md-4 padding-top-2x">
            <a href="/login/facebook" class="social-signup-btn ssb-facebook">
                <i class="socicon-facebook"></i>
                <span>Signup with Facebook</span>
            </a>
            <a href="/login/google" class="social-signup-btn ssb-google">
                <i class="socicon-googleplus"></i>
                <span>Signup with Google+</span>
            </a>
            <a href="/login/twitter" class="social-signup-btn ssb-twitter">
                <i class="socicon-twitter"></i>
                <span>Signup with Twitter</span>
            </a>
        </div><!-- .col-md-4 -->
    </div><!-- .row -->
    {{#if failed}}
        <div class="alert alert-danger" role="alert">
            <strong>Error</strong> Email Exists already
        </div>
    {{/if}}
    {{#if error}}
        <div class="alert alert-danger" role="alert">
            <strong>Error</strong> Wrong credentials
        </div>
    {{/if}}
</section><!-- .container -->